.heading{
  color: rgb(255, 2, 2);
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: rgb(0, 0, 0);
  text-decoration-style: wavy;
  text-decoration-thickness: 2px;
  text-transform: capitalize;
}

.paragraph{
  color: blue;
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: 2.5;
  word-spacing: 10px;
}

.shadow{
  text-shadow: 3px 3px 5px blue;
  color: cyan;
}

.absolute{
  height: 150px;
  width: 500px;
  background-color: blueviolet;
}

.relative{
  background-color: red;
  height: 25vh;
  width: 50vw;
}

.percentage{
  width: 50%;
  height: 50%;
  background-color: black;
}