.body{
  margin: 0px;
}

.main-section{
  height: 96vh;
}

.column-one{
  border: 2px solid red;
  height: 35%;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
}

.column-two{
  border: 2px solid red;
    height: 20%;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.colum-three{
  border: 2px solid red;
  height: 35%;
  margin-left: 15px;
  margin-right: 15px;
}

.title-image{
  border: 2px solid blue;
  width: 25%;
}

.title-content{
  border: 2px solid black;
  width: 75%;
}

.heading{
  border: 2px solid red;
  height: 36%;
  display: flex;
  flex-direction: row;
}

.heading-content{
  border: 2px solid blue;
  height: 60%;
}

.image-thumb{
  border: 2px solid black;
  width: 10%;
}

.heading-text{
  border: 2px solid;
  width: 75%;
}

.heading-date{
  border: 2px solid;
  width: 15%;
}