.body{
  margin: 0px;
}

.main-section{
  height: 96vh;
}

.column-one{
  border: 2px solid red;
  height: 35%;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.column-two{
  border: 2px solid red;
    height: 20%;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.colum-three{
  border: 2px solid red;
  height: 35%;
  margin-left: 15px;
  margin-right: 15px;
}